:root {
  --main-transition: 0.3s;
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

*:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
input::placeholder{
  text-transform: capitalize;
  font-size: 12px;
}
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover{
  background-color: var(--blue-alt-color);
}

.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* sidebar */
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar > h3::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: black;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}
.sidebar > h3::after {
  content: "";
  position: absolute;
  bottom: -29px;
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  border: 5px solid white;
  left: 50%;
  transform: translateX(-50%);
}
.sidebar ul {
  font-family: "DynaPuff", system-ui;
}
.sidebar ul li a {
  transition: var(--main-transition);
  margin-bottom: 5px;
  letter-spacing: 1px;
  font-weight: 600;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  background-color: #f6f6f6;
}
.sidebar ul li a span {
  margin-left: 10px;
}
@media (max-width: 767px) {
  .sidebar {
    padding: 10px;
    width: 65px;
    min-width: 65px;
    max-width: 180px;
    transition: var(--main-transition);
  }
  .sidebar:hover {
    width: 200px;
  }
  .sidebar:hover .hide-moblie {
    display: inline-block;
  }
  .sidebar > h3::before {
    width: 60px;
  }
  .sidebar > h3 a {
    font-size: 14px;
  }
}
/* sidebar */
/* welcom page */
.welcom {
  font-family: "DynaPuff", system-ui;
  background-image: url(../imgs/wlcome\ backgroud.jpg);
  background-size: cover;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.welcom::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
.welcom h1 {
  position: relative;
  font-size: 80px;
  color: #ffc9c9;
  margin-top: 35vh; 
  transition: var(--main-transition);
  animation: appear 2.5s cubic-bezier(0.9, -0.44, 0.43, 1.6) forwards;
}
@media (max-width: 767px) {
  .welcom h1 {
    font-size: 35px;
    margin-top: 30vh;
  }
}

@keyframes appear {
  from {
    transform: translateY(1000%);
  }
  60% {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

/* welcom page */

/* dashboard content */
.content{
  overflow: hidden;
}
.content .search::before{
  font-family: var(--fa-family-classic);
  content: "\f002";
  font-weight: 900;
  color: var(--grey-color);
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
.content .search input{
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 5px;
  padding-left: 30px;
  width: 150px;
  transition: var(--main-transition);
}
.content .search input:focus{
  width: 200px;
}
.content .search input:focus::placeholder{
  opacity: 0;
  transition: var(--main-transition);
}
.content .icon .notification::after{
  content: "";
  position: absolute;
  background-color: var(--red-color);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  right: 0;
  top: -5px;
}
.content .icon img{
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
.content h1{
  margin: 20px 20px 40px;
}
.content h1::before,
.content h1::after{
  content: '';
  position: absolute;
  height: 3px;
  bottom: -10px;
  left: 0;
}
.content h1::before{
  width: 100px;
  background-color: white;
}

.content h1::after{
  width: 40px;
  background-color: black;
}
.wrapper{
  grid-template-columns: repeat(auto-fill, minmax(450px , 1fr));
  margin: 0 20px;
}
@media (max-width:767px) {
  .wrapper{
    grid-template-columns:minmax(200px , 1fr);
    margin: 0 10px;
  }
}
.dh-welcom{
  overflow: hidden;
}
.dh-welcom .intro img{
  width: 200px;
  margin-bottom: -10px
}
.dh-welcom .avatar{
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}
.dh-welcom .body{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.dh-welcom .body > div{
  flex: 1;
}
.dh-welcom .body > div span{
  text-transform: capitalize;
}
.dh-welcom .visit{
  margin: 0 15px 15px auto;
  transition: bckground-color var(--main-transition);
}
.dh-welcom .visit:hover{
  background-color: var(--blue-alt-color);
}
@media (max-width:767px) {
  .dh-welcom .intro{
    padding-bottom: 20px;
  }
  .dh-welcom .avatar{
    margin-left: 0;
  }
  .dh-welcom .body > div:not(:last-child){
    margin-bottom: 20px;
  }
}
.quick-draft textarea{
  resize: none;
  min-height: 180px;
}
.quick-draft .save{
  margin-left: auto;
  transition: background var(--main-transition);
  cursor: pointer;
}
.quick-draft .save:hover{
  background-color: var(--blue-alt-color);
}

.targets .target-row .icon{
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.targets .details {
  flex: 1;
}
.targets .details .progress{
  height: 5px;
}
.targets .details .progress > span{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.targets .details .progress > span span{
  position: absolute;
  bottom: 16px;
  right: -16px;
  padding: 2px 5px;
  font-size: 13px;
}
.targets .details .progress > span span::after{
  content: "";
  position: absolute;
  border-color:transparent;
  border-style: solid;
  border-width: 5px;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.targets .details .progress > .money span::after{
  border-top-color: var(--blue-color);
}
.targets .details .progress > .projects span::after{
  border-top-color: var(--orange-color);
}
.targets .details .progress > .team span::after{
  border-top-color: var(--green-color);
}
.money .icon,
.money .progress{
  background-color:rgb(0 117 255 / 20%);
}
.projects .icon,
.projects .progress{
  background-color: rgb(245, 158, 11 , .2);
}
.team .icon,
.team .progress{
  background-color: rgb(34, 197, 94 , .2);
}
.tickets .box{
  border: 1px solid #ccc;
  width: calc(50% - 10px);
}
@media (max-width:767px) {
  .tickets .box{
    width: 100%;
  }
}
/* dashboard content */